.container-chat {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-chat > h1 {
    color: white;
    background-color: #ff8000;
    padding-left: 10px;
    border-left: 1px solid white;
    height: 5%;
    text-align: center;
}

.container-chat > .css-13azwyo {
    height: 90%;
    max-height: 60%;
}

.container-chat > .container-input {
    height: 5%;
}
